<div class="sidebar">
  <img src="https://x.com/morganokpara/photo" alt="Morgan Okpara" class="profile-pic" />
  <h2>Morgan Okpara</h2>
  <ul class="social-icons">
    <li><a href="https://www.linkedin.com/in/morgan-o-okpara-66a23325/" target="_blank">LinkedIn</a></li>
    <li><a href="https://twitter.com/morganokpara" target="_blank">Twitter</a></li>
    <li><a href="https://github.com/morganokpara" target="_blank">GitHub</a></li>
    <li><a href="mailto:morganokpara@gmail.com">Email</a></li>
  </ul>
</div>
